.SearchBarStack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: center;
  height: 100%;
  left: 10px;
  top: 10px;
  /* Inside Auto Layout */

  flex: none;
  align-self: center;
}

.Rectangle {
  
  align-self: center;
  flex-direction: row;
  padding: 10px;
  justify-content: space-around;

  position: relative;
  width: 100%;
  max-width: 1137px;
  height: 113px;

  background: #FFFFFF;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}