.SearchIcon {
    background-size: cover;
    position: static;
    min-width: 23px;
    width: 23px;
    min-height: 25px;
    height: 25px;
    left: 10px;
    top: 24px;
    align-self: center;
    margin: 10px;
}